.DS_Store
node_modules
.wrangler
.env
.dev.vars
.migration
.backups

tsconfig.cli.tsbuildinfo

/data/notes.json
/data/profile.json
/data/game-titles.json
/data/purchases
/data/progress
/data/games
/data/games.json

/public/assets/*.js
/public/assets/*.js.map
/public/assets/fontawesome/

# Legacy files
/legacy
