.DS_Store
node_modules

.env
.next

/out
/build
/docs/build
/docs/fontawesome
/public/manifest.json

/data/profile.json
/data/game-titles.json
/data/purchases/appstore.json
/data/purchases/switch.json
/data/purchases/playstation.json
/data/purchases/xbox.json

tsconfig.cli.tsbuildinfo