:root {
  --gold-gradient: linear-gradient(90deg, #c9a846, #e7c778);
  --pearlescent-gradient: linear-gradient(90deg, #e0ddd7, #eceae4)
}

@media (prefers-color-scheme: dark) {
  :root {
    --gold-gradient: linear-gradient(90deg, #9e8239, #c5b26b);
    --pearlescent-gradient: linear-gradient(90deg, #2f2e2b, #45433f);
  }
}

h1 {
  text-align: center;
  & img {
    width: 350px;
    max-width: 100%;
    height: auto;
  }
}

@media (prefers-color-scheme: dark) {
  h1 img {
    filter: invert(1) hue-rotate(180deg);
  }
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  --tracking-columns: 3;
}

.project-header {
  margin-top: 3rem;

  & h2 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & a {
      color: var(--secondary-text);
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.achievement-icon {
  --s: 64px; /* Size of the icon */
  --b: 10px; /* Border radius */
  --t: 0; /* Background position multiplier */

  display: block;
  width: var(--s);
  height: var(--s);
  background-size: var(--s) auto;
  background-position-y: calc(-1 * var(--t) * var(--s));
  border-radius: var(--b);
}

.achievement-type {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: baseline;
  margin-right: .125rem;

  &.platinum {
    background-image: url('/images/games/playstation-platinum-trophy.png');
  }
  &.gold {
    background-image: url('/images/games/playstation-gold-trophy.png');
  }
  &.silver {
    background-image: url('/images/games/playstation-silver-trophy.png');
  }
  &.bronze {
    background-image: url('/images/games/playstation-bronze-trophy.png');
  }
}

.achievement-list {
  list-style: none;
  padding: 0;
  margin: 0;  
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  

  & > li {
    display: flex;
    gap: .5rem;
    width: calc((100% - 1 * 1rem) / 2);

    &.completed {
      opacity: .3;
      /* text-decoration: line-through; */
    }
    
    & .achievement-icon {
      flex-shrink: 0;
    }

    & .achievement-details {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;

      & h3 {
        margin: 0;
        font-size: 1.25rem;
      }

      & p {
        margin: 0;
        font-size: 0.875rem;
        color: var(--secondary-text);
      }

      & .achievement-progress {
        width: 100%;
        height: 3px;
        background-color: var(--subtle-accent-color);
        background-image: var(--pearlescent-gradient);
        border-radius: 1.5px;
        position: relative;

        &::before {
          content: '';
          display: block;
          height: 3px;
          width: var(--progress, 0%);
          /* background-color: var(--accent-color); */
          background: var(--gold-gradient);
          box-shadow: 0 0 2px rgba(255, 215, 100, 0.4);
          border-radius: 1.5px;
        }
      }
    }
  }
}

.tracking-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  font-size: 0.875rem;
  justify-content: stretch;

  & > li {
    width: calc((100% - (var(--tracking-columns) - 1) * 1rem) / var(--tracking-columns));

    & strong {
      text-transform: uppercase;
    }
  }

  & .tracking-status {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    padding: .5rem;

    &.completed {
      color: var(--subtle-accent-color);
      /* text-decoration: line-through; */
    }

    & i {
      margin-right: 0.25rem;
    }

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .tracking-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 0;
  }
}

.category-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  mask-size: cover;
  background-color: currentColor;
}

@media (max-width: 480px) {
  .achievement-list > li {
    width: 100%;

    & .achievement-details h3 {
      font-size: 1.1rem;
    }
  }

  .tracking-list > li {
    width: 100%;
  }

  .project-header h2 {
    font-size: 0.875rem;
  }

  
}