* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  --background-color-components: 249, 249, 249;
  --accent-color-componenrts: 102, 102, 102;
  --subtle-accent-color-components: 221, 221, 221;
  --text-color: #212121;
  --secondary-text: #666;
  --card-background: #F5F5F5;
  --background-color: rgb(var(--background-color-components));
  --accent-color: rgb(var(--accent-color-componenrts));
  --subtle-accent-color: rgb(var(--subtle-accent-color-components));
  --card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --card-hover-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --body-font: "Figtree", Arial, Helvetica, sans-serif;
  --heading-font: var(--body-font);
  --number-font: "Outfit", var(--body-font);

  --game-grid-gap: .5rem;

  --open-critic-tier-weak-icon: url("https://img.opencritic.com/mighty-man/weak-head.png");
  --open-critic-tier-weak-color: #80b06a;
  --open-critic-tier-fair-icon: url("https://img.opencritic.com/mighty-man/fair-head.png");
  --open-critic-tier-fair-color: #619FCA;
  --open-critic-tier-strong-icon: url("https://img.opencritic.com/mighty-man/strong-head.png");
  --open-critic-tier-strong-color: #911CAE;
  --open-critic-tier-mighty-icon: url("https://img.opencritic.com/mighty-man/mighty-head.png");
  --opem-critic-tier-mighty-color: #fc430a;

  --steam-review-negative: #D4572F;
  --steam-review-mixed: #D1B67F;
  --steam-review-positive: #1573B5;

  --metacritic-good: #66CC33;
  --metacritic-mixed: #FFCC33;
  --metacritic-bad: #FF0000;

  font-family: var(--body-font);
  background: var(--background-color);
  color: var(--text-color);

  & * {
    box-sizing: border-box;
  }
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

input, button, textarea {
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  vertical-align: baseline;
  text-transform: uppercase;

  & strong {
    font-size: .5em;
    letter-spacing: .3em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color-components: 18, 18, 18;
    --accent-color-componenrts: 102, 102, 102;
    --subtle-accent-color-components: 51, 51, 51;

    --steam-review-negative: #A34C25;
    --steam-review-mixed: #B9A074;
    --steam-review-positive: #66C0F4;
    
    --text-color: #E0E0E0;
    --secondary-text: #666;
    --card-background: #242424;
    --card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    --card-hover-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(255, 255, 255, 0.2);
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}



.game-platform {
  width: 1.2em;
  height: 1.2em;

  &.physical {
    padding: 2px;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    border-radius: 3px;
  }

  & path {
    fill: currentColor;
  }

  &img.game-platform {
    opacity: 0;
  }
}



.game-grid {
  display: flex;
  flex-direction: column;
  gap: var(--game-grid-gap);
  padding: 1rem;
}

.game-row {
  display: flex;
  gap: var(--game-grid-gap);

  &.hidden {
    display: none;
  }
}

.games-header {
  display: flex;
  gap: var(--game-grid-gap);
  padding-bottom: .5rem;
}

.game-header-cell {
  width: calc(100% / 7);
  display: flex;
  gap: .5rem;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  & .platform-count {
    color: var(--accent-color);
    font-family: var(--number-font);
  }
}

.game-summary {
  font-size: .8rem;
  padding: .5rem;
}

.game-row-title {
  display: none;
  
  & .open-critic-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    gap: .5rem;
    align-items: center;
  }
}

.game-cell {
  width: calc(100% / 7);
  border-radius: .5rem;
  display: flex;

  &.game-card {
    overflow: hidden;
    border: 1px solid var(--subtle-accent-color);;
    flex-direction: column;
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
    transition: .3s box-shadow;

    &:hover {
      box-shadow: var(--card-hover-shadow);
    }

    & .game-cover {
      display: block;
      width: 100%;
      padding-bottom: 57%;
      overflow: hidden;
      position: relative;

      & .game-cover-image {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        left: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: transform .3s;
      }
    }
    &:hover .game-cover-image {
      transform: translateX(-50%) scale(1.25);
    }
  }

  & .game-info {
    padding: .5rem;
    display: flex;
    align-items: end;
    flex-grow: 1;

    & .game-title {
      max-width: calc(100% - 1.2em - .5rem);
      font-size: .8rem;
      word-wrap: break-word;

      & .game-collection {
        color: var(--accent-color);
      }
    }

    & .game-platform {
      margin-left: auto;
    }
  }

  &.game-placeholder {
    border: 1px dashed var(--subtle-accent-color);
    color: var(--subtle-accent-color);
  }
}

.header {
  border-bottom: 1px solid var(--subtle-accent-color);
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(var(--background-color-components), .7);
  z-index: 4;
}

.controls {
  padding: 1rem;
  display: flex;
  gap: .5rem;
  align-items: center;

  & h1 {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    padding: 0 1.5rem 0 0;
    border-right: 1px solid var(--subtle-accent-color);
    white-space: nowrap;
    gap: .5rem;
    text-shadow: 0 0 5px var(--background-color);

    & .game-count {
      color: var(--accent-color);
      font-family: var(--number-font);
    }
    & .game-count::before {
      content: " ";
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .6125rem;
  background: rgba(var(--background-color-components), .5);
  border: 1px solid rgba(var(--subtle-accent-color-components), .5);
  border-radius: .25rem;
  height: 2.5rem;
  min-width: 2.5rem;
  text-shadow: 0 0 5px var(--background-color);
}

.button-group {
  display: inline-flex;

  & .button {
    border-radius: 0;
    border-left-width: 0;
    
    &.form-field {
      padding-left: 0;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  & input {
    position: absolute;
    opacity: 0;
  }

  & .button:first-of-type {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-left-width: 1px;
  }
  & .button:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  & input:checked + .button {
    background: rgba(var(--subtle-accent-color-components), .5);
  }
}

.form-field {
  display: inline-flex;
  background-color: rgba(var(--background-color-components), .5);
  border: 1px solid rgba(var(--subtle-accent-color-components), .5);
  border-radius: .25rem;
  height: 2.5rem;
  overflow: hidden;

  & select,
  & input {
    /* background-color: rgba(var(--background-color-components), .5); */
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: .5rem;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--background-color);
    font-size: 1rem;
    width: 100%;
    height: 100%;

    &:focus {
      background-image: linear-gradient(90deg, rgba(var(--subtle-accent-color-components), .5) 0%, transparent 100%);
    }
  }

  &.search-field {
    position: relative;

    & input {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    & input::-webkit-search-cancel-button {
      color: var(--text-color);
    }

    & .search-icon,
    & .cancel-button {
      position: absolute;
      height: 2.5rem;
      min-width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .cancel-button {
      right: 0;
      display: none;
      background-color: transparent;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: var(--text-color);
    }

    & input:valid ~ .cancel-button {
      display: flex;
    }
  }
}

.hidden-checkbox {
  position: fixed;
  top: 0;
  display: block;
  z-index: 0;
  opacity: 0;
}

#grid-toggle:checked ~ .header label[for='grid-toggle'],
#list-toggle:checked ~ .header label[for='list-toggle'],
#games-toggle:checked ~ .header label[for='games-toggle'] {
  background-color: rgba(var(--subtle-accent-color-components), .5);
}

#games-toggle:checked ~.main .game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  & .games-header {
    display: none;
  }

  & .game-row-title {
    display: flex;
    gap: .5rem;
    align-items: center;

    position: absolute;
    z-index: 3;
    padding: .25rem .5rem;
    margin: .25rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    left: 0;
    right: 0;
    overflow: hidden;

    background: var(--background-color);
    flex-wrap: wrap-reverse;

    & .game-title {
      width: 100%;
      font-size: 1rem;
    }
  }

  & .game-row {
    display: block;
    padding-bottom: 72%;
    position: relative;

    &.hidden {
      display: none;
    }

    &:hover .game-cover-image {
      transform: translateX(-50%) scale(1.1);
    }
  }

  & .game-cell {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    & .game-info {
      align-items: start;
      position: relative;

      & .game-title {
        display: none;
      }
    }

    & .game-platform {
      position: absolute;
      z-index: 1;
      bottom: .5rem;
    }

    &.game-steam {
      z-index: 1;
    }
    &.game-steam .game-platform{
      left: calc(.5rem + 0 * (100% / 7));
    }
    &.game-playstation .game-platform{
      left: calc(.5rem + 1 * (100% / 7));
    }
    &.game-switch .game-platform{
      left: calc(.5rem + 2 * (100% / 7));
    }
    &.game-epic .game-platform{
      left: calc(.5rem + 3 * (100% / 7));
    }
    &.game-gog .game-platform{
      left: calc(.5rem + 4 * (100% / 7));
    }
    &.game-amazon .game-platform{
      left: calc(.5rem + 5 * (100% / 7));
    }
    &.game-appstore .game-platform{
      left: calc(.5rem + 6 * (100% / 7));
    }
  }
}

#list-toggle:checked ~ .main .game-grid {
  padding-left: .5rem;

  & .game-header-cell {
    width: 5rem;
  }
  & .game-header-cell img,
  & .game-header-cell svg, 
  & .game-header-cell strong {
    display: none;
  }

  & .game-row-title {
    display: flex;
    gap: .5rem;
    align-items: center;

    width: 40rem;
    padding-left: .5rem;
    border-radius: .5rem;

    & .game-collection {
      display: none;
    }
  }

  & .game-row:hover {
    & .game-row-title {
      background-image: linear-gradient(90deg, var(--card-background) 0%, transparent 100%);
    }
    & .game-cell.game-card .game-cover {
      filter: none;
    }
  }

  & .game-cell {
    width: 5rem;
    height: 2.5rem;

    &.game-card {
      position: relative;
      overflow: visible;
      flex-direction: row;

      & .game-title {
        display: none;
      }

      & .game-info {
        align-items: center;
      }

      & .game-cover {
        border-radius: .5rem 0 0 .5rem;
        padding-bottom: 0;
        filter: grayscale(1);
      }

      &:hover .game-title {
        display: block;
        position: absolute;
        z-index: 1;
        background: var(--background-color);
        border: 1px solid var(--subtle-accent-color);
        padding: .5rem .5rem;
        left: 5.5rem;
        transform: translateX(-50%);
        left: 50%;
        border-radius: .5rem;
        max-width: none;
        width: 10rem;
        text-align: center;
        bottom: 3rem;
      }

      & .game-info {
        justify-content: center;

        & .game-platform {
          margin: 0;
        }
      }
    }
  }
}

.open-critic-tier {
  width: 20px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;

  &.tier-fair {
    background-image: var(--open-critic-tier-fair-icon);
  }
  &.tier-strong {
    background-image: var(--open-critic-tier-strong-icon);
  }
  &.tier-weak {
    background-image: var(--open-critic-tier-weak-icon);
  }
  &.tier-mighty {
    background-image: var(--open-critic-tier-mighty-icon);
  }
}

.open-critic-score {
  width: 1.25rem;
  text-align: center;
  font-weight: bold;
  font-family: var(--number-font);

  &.tier-fair {
    color: var(--open-critic-tier-fair-color);
  }
  &.tier-strong {
    color: var(--open-critic-tier-strong-color);
  }
  &.tier-weak {
    color: var(--open-critic-tier-weak-color);
  }
  &.tier-mighty {
    color: var(--opem-critic-tier-mighty-color);
  }
}

.open-critic-critics {
  width: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: var(--number-font);
}

.game-title .release-date {
  color: var(--secondary-text);
}

.game-title .steam-review {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--steam-review-negative);
  display: block;
  font-size: .6rem;

  &.mixed {
    color: var(--steam-review-mixed);
  }
  &.positive {
    color: var(--steam-review-positive);
  }
}

.metacritic-link {
  text-decoration: none;
}
.metacritic-score {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  justify-content: center;

  &.good {
    background-color: var(--metacritic-good);
  }
  &.mixed {
    background-color: var(--metacritic-mixed);
  }
  &.bad {
    background-color: var(--metacritic-bad);
  }
}

.mobile-menu-open,
.mobile-menu-close {
  display: none;
}

@media only screen and (max-width: 600px) {
  .layout-switcher {
    display: none;
  }

  .controls {
    flex-wrap: wrap;
    gap: 0;
  }

  .controls h1 {
    margin-right: 0;
    border: 0;
    padding: 0;
    flex-grow: 1;
  }
  .controls .search-field {
    flex-basis: 100%;
    margin-top: .5rem;
    display: none;
  }
  .controls .tier-filter {
    flex-basis: 100%;
    margin: 0;
    width: 100%;
    margin-top: .5rem;
    display: none;

    & .button {
      flex-grow: 1;
    }
  }
  .controls .sort {
    flex-basis: 100%;
    margin: 0;
    width: 100%;
    margin-top: .5rem;
    display: none;

    & .button {
      flex-grow: 1;
    }
  }

  #games-toggle:checked ~.main .game-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    & .game-row {
      padding-bottom: 40%;
    }

    & .game-row-title {
      right: 0;
      left: 0;
      padding: .5rem;
      font-size: 1.2rem;

      & .game-title {
        font-size: 1rem;
      }
    }

    & .game-cover {
      position: absolute;
      filter: blur(10px);
    }
    & path {
      fill: #fff;
    }

    & .game-placeholder {
      & path {
        opacity: .3;
      }
    }
  }

  #toggle-controls:checked ~ .header .tier-filter,
  #toggle-controls:checked ~ .header .sort,
  #toggle-controls:checked ~ .header .search-field {
    display: flex;
  }

  .mobile-menu-open {
    display: flex;
  }
  #toggle-controls:checked ~ .header .mobile-menu-close {
    display: flex;
    background-color: var(--card-background);
  }
  #toggle-controls:checked ~ .header .mobile-menu-open {
    display: none;
  }
}

.hidden {
  display: none;
}